
body {
  background:  #434343;
  padding:50px 0px 0px 0px;
  z-index:0;
  height: 100%;
}

html {
  height: 100%;
}
.flowSection {
    flex-basis: auto;
    display: flex;
    height: 30%;
    padding:0;
}

.section {
  margin-left: 0;
  background-size: cover;
  background-position: center;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  flex-grow: 2;
  overflow: hidden;
}

.section:hover::before {
  opacity: 0;
  cursor: pointer;
}

.section::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 20;
  transition: all 0.4s;
}

.dealdash::before {
  background: rgba(199, 156, 110, 0.3);
}

.groupon::before {
  background: rgba(0, 112, 222, 0.3);
}

.macy::before {
  background: rgba(255, 245, 105, 0.3);
}

.costco::before {
  background: rgba(245, 140, 186, 0.3);
}

.walmart::before {
  background: rgba(171, 212, 115, 0.3);
}

.sephora::before {
  background: rgba(255, 125, 10, 0.3);
}

.active::before {
  opacity: 0;
}

.shrink {
  flex-grow: 1;
}

.dealdash {
  background-image: url("../webImg/partnerDealDash.jpeg");
}

.groupon {
  background-image: url("../webImg/partnerGroupon.jpg");
}

.macy {
  background-image: url("../webImg/partnerMacy.jpg");
}

.costco {
  background-image: url("../webImg/partnerCostco.jpg");
}

.walmart {
  background-image: url("../webImg/partnerWalmart.jpg");
}

.sephora {
  background-image: url("../webImg/partnerSephora.jpg");
}

.dealdash .text {
  background: rgba(255, 0, 0, 1);
}

.costco .text {
  background: rgba(255, 0, 0, 1);
}

.groupon .text {
  background: rgba(255, 0, 0, 1);
}

.macy .text {
  background: rgba(255, 0, 0, 1);
}

.walmart .text {
  background: rgba(255, 0, 0, 1);
}

.sephora .text {
  background: rgba(255, 0, 0, 1);
}

.text {
  font-size: 5rem;
  position: relative;
  top: -60%;
  text-align: center;
  width: 100%;
  display: none;
  transition: all 0.4s;
}

.active .text {
  width: 110%;
  opacity: 1;
  transform: rotate(-10deg);
  position: relative;
  left: -5%;
  mix-blend-mode: screen;
  display: inline-block;
}

.mainContent {
  background-image: url(../webImg/background.jpg);
  background-position: center;
  background-size: cover;
}

.jumbotron {
  padding:30px 30px 10px 30px;
  margin:0px auto;
  background-image: url(../webImg/headerBackground.jpg);
  background-position: center;
  background-size: cover;
  color:#111111;
}

h1 {
  font-family: 'Lobster', cursive;
}

h3 {
  font-family: 'Patua One', cursive;
}

#brandMessage {
  font-family: 'Lobster', cursive;
  font-size:  3em;
}

#topButton {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: Transparent; 
    color: #DF574B;
    background-size: cover;
    cursor: pointer; 
    padding: 2px; 
    border-radius: 10px; 
    font-size: 18px; 
}

img {
  width: 170px;
  height: 170px;
  display: inline-block;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.media{
    padding: 30px 10px;
}

.submitPost {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    text-align: center;
}

.submitReply {
    margin: 0;
    text-align: left;
}

.thanks {
  font-style: italic;
}

.thanksDiv {
  text-align: center;
}

#createpost {
  padding:20px 0px 0px 0px;
}

footer {
  background:  #434343;
  color:       #FFFFFF;
}

address {
   text-align: center;
}

#footerLogo {
    height: 90px;
    width:  85px;
    vertical-align: center;
    margin:0px;
}

#footerBrand {
    font-family: 'Lobster', cursive;
    font-size:  1.5em;
}

#footerBrandMessage {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size:  3em;
}

#footerOne {
    text-align: center;
}

#footerThree {
    text-align: center;
}

#welcomeMessage {
  padding:82px 50px;
}